.controls__buttons {
  text-align: right;
  margin-bottom: 40px;

  @media (max-width: 940px) {
    text-align: center;
  }
}

.button-start {
  display: none;
  border: none;
  background-color: #ffc75b;
  border-radius: 20px;
  padding: 10px 25px;
  font-family: Montserrat,sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition-duration: 250ms;

  &:hover {
    background-color: #ffab48;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.button-start_play {
  display: inline-block;
}
