.slider{
  margin-bottom: 60px;
  position: relative;

  &__nav{
    position: absolute;
    top: 194px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow{
    position: relative;
    width: 52px;
    height: 52px;
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 400ms;
    &:hover{
      transition-duration: 400ms;
      transition-property: background-color, border-color;
      background-color: $color-primary-hover;
      border-color: $color-primary-hover;
    }

    &_left{
      left: -105px;
    }

    &_right{
      right: -105px;
    }

  }

  &__list{
    display: flex;
    justify-content: space-between;
    margin-right: -90px;
    width: 100%;
    overflow: hidden;
  }

  &__item{
    background-color: #FAFAFA;
    border-radius: 9px;
    margin-right: 90px;
    overflow: hidden;
    min-width: 270px;
  }

  &__link{
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
  }

  &__frame {
    width: 270px;
    height: 270px;
    overflow: hidden;
  }

  &__img{
    width: 270px;
    height: 270px;
    object-fit: cover;
  }

  &__text{
    width: 100%;
    padding: 30px 0;
    transition-duration: 400ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item:hover .slider__text {
    background-color: #fff;
    transition-duration: 400ms;
  }

  &__title {
    @include georgia-normal();
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    color: $color-title-dark;
  }

  .button-link_transparent{
    padding: 14px 43px;
  }
}